<img src="/assets/logo.svg" />
<nav>
<a id="nav-home" href="/">Home</a>
<a id="nav-items" href="/items">Items</a>
<a id="nav-collections" href="collections">Collections</a>
<a id="nav-archive" href="/archive">Archive</a>
<a id="nav-projects" href="/projects">Projects</a>
<a id="nav-info" href="/about">Information</a>
<a id="nav-shop" href="/shop">Shop</a>
</nav>