<header>
	<img src="/assets/logo.svg" />
	<p class="nav-header"><span>Menu</span><img style="position: absolute; right: 0; top: 14px; padding: 0; margin: 0;" src="/assets/menu-closed.svg" width="22" height="14" /></p>
	<nav>
		<a id="nav-home" href="/">Home</a>
		<a id="nav-items" href="/items">Items</a>
		<a id="nav-collections" href="/collections">Collections</a>
		<a id="nav-archive" href="/archive">Archive</a>
		<a id="nav-projects" href="/projects">Projects</a>
		<a id="nav-info" href="/about">Information</a>
		<a id="nav-shop" href="/shop">Shop</a>
	</nav>
</header>