<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">
    <div class="grid">
        <div class="grid-item medium--one-half large--three-twelfths">
          <div style="border-top: 1px solid #919191; padding-top: 8px">
            <p>&copy; Shimell and Madden 2014</p>
          </div>
        </div>
        <div class="grid-item medium--one-half large--three-twelfths">
          <div style="border-top: 1px solid #919191; padding-top: 8px">
            <p><a href="mailto:emma@shimellandmadden.com">emma@shimellandmadden.com</a></p>
            <p>Mobile: +44 (0)7548 887832</p>
            <p><a href="mailto:luke@shimellandmadden.com">luke@shimellandmadden.com</a></p>
            <p>Mobile: +44 (0)7970 075071</p>
          </div>
        </div>
        <div class="grid-item medium--one-half large--three-twelfths">
          <div style="border-top: 1px solid #919191; padding-top: 8px">
            <p><a href="https://www.facebook.com/pages/Shimell-and-Madden/153510408023083">Facebook</a></p>
            <p><a href="https://twitter.com/Shimell_Madden">Twitter</a></p>
            <p><a href="http://instagram.com/Shimell_Madden/">Instagram</a></p>
            <p><a href="http://shimellandmadden.tumblr.com">Tumblr</a></p>
          </div>  
        </div>
        <div class="grid-item medium--one-half large--three-twelfths">
          <div style="border-top: 1px solid #919191; padding-top: 8px">
            <p><a href="#">Refund policy</a></p>
          </div>
        </div>
    </div>
  </div>
</footer>