/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
.vagrant
.chef/*
config/secrets.yml
public/assets/**

/cookbooks/
/tmp/librarian/
/config/database.yml
vendor/ruby
/wraith/*
/app/shopify/config.yml
