{% paginate collection.products by 12 %}

{% comment %}{% include 'breadcrumb' %}{% endcomment %}

<div class="grid">

  <div class="grid-item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>

  <div class="grid-item large--three-quarters" style="padding-left:0">
    {% for product in collection.products limit:9 %}
      
      {% assign grid_item_width = 'large--one-third medium--one-half' %}
      
      {% include 'product-grid-item' %}
    
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
      <hr>

      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}

</div>

{% endpaginate %}
