<div class="grid">

  <div class="grid-item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>

  <div class="grid-item large--three-quarters" style="padding-left:0">

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}

  {% paginate collections.frontpage.products by 9 %}  
  {% for product in collections.frontpage.products %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% include 'product-grid-item' %}
  {% endfor %}
  
  <div class="clearfix grid-item">
  {% include 'pagination-custom' %}
  </div>


   {% endpaginate %}
</div>
