<footer>
 	<div><em>&copy; Shimell and Madden 2014</em></div>
 	<div>
 		<p><a href="mailto:emma@shimellandmadden.com">emma@shimellandmadden.com</a></p>
 		<p><em>Mobile: +44 (0)7548 887832</em></p>
 		<p><a href="mailto:luke@shimellandmadden.com">luke@shimellandmadden.com</a></p>
 		<p><em>Mobile: +44 (0)7970 075071</em></p>
 	</div>
 	<div>
 		<p><a href="https://www.facebook.com/pages/Shimell-and-Madden/153510408023083">Facebook</a></p>
 		<p><a href="https://twitter.com/Shimell_Madden">Twitter</a></p>
 		<p><a href="http://instagram.com/Shimell_Madden/">Instagram</a></p>
 		<p><a href="http://shimellandmadden.tumblr.com">Tumblr</a></p>
 	</div>
 	<div>
 		<p><a href="#">Back to top</a></p>
 	</div>
 </footer>