<footer>
 	<div><em>&copy; Shimell and Madden 2014</em></div>
 	<div>
 		<p><a href="mailto:emma@shimellandmadden.com">emma@shimellandmadden.com</a></p>
 		<p><em>Mobile: +44 (0)7548 887832</em></p>
 		<p><a href="mailto:luke@shimellandmadden.com">luke@shimellandmadden.com</a></p>
 		<p><em>Mobile: +44 (0)7970 075071</em></p>
 	</div>
 	<div>
 		<p><a href="#">Facebook</a></p>
 		<p><a href="#">Twitter</a></p>
 		<p><a href="#">Instagram</a></p>
 		<p><a href="#">Tumblr</a></p>
 	</div>
 	<div>
 		<p><a href="#">Back to top</a></p>
 	</div>
 </footer>