<footer>
 	<div><div><p>&copy; Shimell and Madden 2014</p></div></div>
 	<div><div>
 		<p><a href="mailto:emma@shimellandmadden.com"><span class="fulladdress">emma@shimellandmadden.com</span><span class="smalladdress">Email Emma…</span></a></p>
            <p>Mobile +44 (0)7548 887832</p>
            <p><a href="mailto:luke@shimellandmadden.com"><span class="fulladdress">luke@shimellandmadden.com</span><span class="smalladdress">Email Luke…</span></a></p>
            <p>Mobile +44 (0)7970 075071</p>
 	</div></div>
 	<div><div>
 		<p><a href="https://www.facebook.com/pages/Shimell-and-Madden/153510408023083">Facebook</a></p>
 		<p><a href="https://twitter.com/Shimell_Madden">Twitter</a></p>
 		<p><a href="http://instagram.com/Shimell_Madden/">Instagram</a></p>
 		<p><a href="http://shimellandmadden.tumblr.com">Tumblr</a></p>
 	</div></div>
 	<div><div>
 		<p><a href="#" class="totop">Back to top <svg id="icon-arrow_small_up_idle" viewBox="0 0 1024 1024">
        <path class="path1" d="M285.257 486.4l51.2 51.2 138.971-149.943v380.343h73.143v-380.343l138.971 149.943 51.2-51.2-226.743-248.686z" />
        <path class="path2" d="M512 0c-281.6 0-512 230.4-512 512s230.4 512 512 512 512-230.4 512-512-230.4-512-512-512zM512 950.857c-241.371 0-438.857-197.486-438.857-438.857s197.486-438.857 438.857-438.857c241.371 0 438.857 197.486 438.857 438.857s-197.486 438.857-438.857 438.857z" />
      </svg></a></p>
 	</div></div>
 </footer>