<footer>
 	<div><div><p>&copy; Shimell and Madden 2014</p></div></div>
 	<div><div>
 		<p><a href="mailto:emma@shimellandmadden.com">emma@shimellandmadden.com</a></p>
 		<p>Mobile +44 (0)7548 887832</p>
 		<p><a href="mailto:luke@shimellandmadden.com">luke@shimellandmadden.com</a></p>
 		<p>Mobile +44 (0)7970 075071</p>
 	</div></div>
 	<div><div>
 		<p><a href="https://www.facebook.com/pages/Shimell-and-Madden/153510408023083">Facebook</a></p>
 		<p><a href="https://twitter.com/Shimell_Madden">Twitter</a></p>
 		<p><a href="http://instagram.com/Shimell_Madden/">Instagram</a></p>
 		<p><a href="http://shimellandmadden.tumblr.com">Tumblr</a></p>
 	</div></div>
 	<div><div>
 		<p><a href="#" class="totop">Back to top <svg version="1.1" x="0px" y="0px"
	 width="11.176px" height="10.062px" viewBox="0 0 11.176 10.062" enable-background="new 0 0 11.176 10.062" xml:space="preserve">
<path fill="#A9A9A9" d="M10.619,10.613L-0.557,10.62L5.046,0.557L10.619,10.613z M2.846,8.618l4.378-0.002l-2.184-3.94L2.846,8.618z
	"/>
</svg></a></p>
 	</div></div>
 </footer>