<footer>
 	<div><div><p>&copy; Shimell and Madden 2014</p></div></div>
 	<div><div>
 		<p><a href="mailto:emma@shimellandmadden.com"><span class="fulladdress">emma@shimellandmadden.com</span><span class="smalladdress">Email Emma…</span></a></p>
            <p>Mobile +44 (0)7548 887832</p>
            <p><a href="mailto:luke@shimellandmadden.com"><span class="fulladdress">luke@shimellandmadden.com</span><span class="smalladdress">Email Luke…</span></a></p>
            <p>Mobile +44 (0)7970 075071</p>
 	</div></div>
 	<div><div>
 		<p><a target="_blank" href="https://www.facebook.com/pages/Shimell-and-Madden/153510408023083">Facebook</a></p>
 		<p><a target="_blank" href="https://twitter.com/Shimell_Madden">Twitter</a></p>
 		<p><a target="_blank" href="http://instagram.com/Shimell_Madden/">Instagram</a></p>
 		<p><a target="_blank" href="http://shimellandmadden.tumblr.com">Tumblr</a></p>
 	</div></div>
 	<div><div>
 		<p><a href="#" class="totop">Back to top <%= render 'shared/arrowupidle' %></a></p>
 	</div></div>
 </footer>