<% content_for :subnav do %>
  <div id="subnav">
    <%= render "shared/subnav" %>
  </div>
<% end %>

<% content_for :infopagetop do %>
<div id="info-header" style="background-image: url(<%= asset_path "18_crop.jpg" %>)">
	<h2>About</h2>
</div>
<% end %>

<section class="info blog">
	

  <article>
  	<div>
    	<%= @page.content.html_safe %>
    </div>
  </article>

  <aside>
	 		<p><em>Emma Simone Madden</em></p>
	 		<p><a href="mailto:emma@shimellandmadden.com"><span class="fulladdress">emma@shimellandmadden.com</span><span class="smalladdress">Email Emma…</span></a></p>
	 		<p><em>Mobile <a target="_blank">+44 (0)7548 887832</a></em></p>

	 		<br>

	 		<p><em>Luke Shimell</em></p>
	 		<p><a href="mailto:luke@shimellandmadden.com"><span class="fulladdress">luke@shimellandmadden.com</span><span class="smalladdress">Email Luke…</span></a></p>
	 		<p><em>Mobile <a target="_blank">+44 (0)7970 075071</a></em></p>

	 		<br>

	 		<p><em>Social media</em></p>
	 		<p><a href="https://www.facebook.com/pages/Shimell-and-Madden/153510408023083">Facebook</a></p>
 			<p><a href="https://twitter.com/Shimell_Madden">Twitter</a></p>
 			<p><a href="http://instagram.com/Shimell_Madden/">Instagram</a></p>
 			<p><a href="http://shimellandmadden.tumblr.com">Tumblr</a></p>
 	</aside>
</section>