<% content_for :subnav do %>
<div id="subnav" class="subnav">
	<%= render "shared/subnav" %>
</div>
<% end %>

 	<section class="info blog">
	
 	<aside>
 		<%= @page.content.html_safe %>
 	</aside>
 	<article>
 		<img src="<%= asset_path "commissions.jpg" %>" />
 	</article>
 </section>