<section class="blog contact">
	<header>
 		<%= render "shared/nav" %>
 	</header>
 	<div>
 		<%= render "shared/subnav" %>
 	</div>
 	<aside>
 		<h2>Contact</h2>
 		<div>
	 		<p><em>Emma Simone Madden</em></p>
	 		<p><a href="mailto:emma@shimellandmadden.com">emma@shimellandmadden.com</a></p>
	 		<p class="tel"><em>Mobile: +44 (0)7548 887832</em></p>

	 		<br	/>

	 		<p><em>Luke Shimell</em></p>
	 		<p><a href="mailto:luke@shimellandmadden.com">luke@shimellandmadden.com</a></p>
	 		<p class="tel"><em>Mobile: +44 (0)7970 075071</em></p>

	 		<br	/>

	 		<p><em>Social media</em></p>
	 		<p><img src="/assets/right-arrow-black.svg" />&nbsp;<a href="#">Facebook</a></p>
	 		<p><img src="/assets/right-arrow-black.svg" />&nbsp;<a href="#">Twitter</a></p>
	 		<p><img src="/assets/right-arrow-black.svg" />&nbsp;<a href="#">Instagram</a></p>
	 		<p><img src="/assets/right-arrow-black.svg" />&nbsp;<a href="#">Tumblr</a></p>
 	</aside>
 	<article>
 		<img src="/assets/contact.jpg" />
 	</article>
 </section>

 <%= render "shared/footer" %>