<header>
	<%= render "shared/nav" %>
</header>
<div id="subnav">
	<%= render "shared/subnav" %>
</div>

<section class="blog contact">
 	<aside>
 		<h2>Contact</h2>
 		<div>
	 		<%= @page.content.html_safe %>

	 		<p><em>Social media</em></p>
	 		<p><img src="/assets/right-arrow-black.svg" />&nbsp;<a href="#">Facebook</a></p>
	 		<p><img src="/assets/right-arrow-black.svg" />&nbsp;<a href="#">Twitter</a></p>
	 		<p><img src="/assets/right-arrow-black.svg" />&nbsp;<a href="#">Instagram</a></p>
	 		<p><img src="/assets/right-arrow-black.svg" />&nbsp;<a href="#">Tumblr</a></p>
 	</aside>
 	<article>
 		<img src="/assets/contact.jpg" />
 	</article>
 </section>

 <%= render "shared/footer" %>

 <script type="text/javascript">
 SM = {};

 $('.nav-header').click(function(){
 	if(SM.revealed) {
      	$('nav').toggleClass('woop');
      	SM.revealed = false
      	$('.nav-header img').attr('src', '/assets/menu-closed.svg');
    } else {
      $('nav').toggleClass('woop');
      $('.nav-header img').attr('src', '/assets/menu-open.svg');
      SM.revealed = true
    }
 })
 </script>