<div id="items"> 
  <section class="blog">
  	<div id="centerer">
      <div id="centerer-inner">
        <h1><img src="<%= asset_path "logotype.svg" %>" /></h1>
        <h2><a href="/items">View collections</a></h2>
      </div>
    </div>
    <div id="my-carousel">
      <% @items.each_with_index do |item, index| %>
        <div class="carousel not-fullscreen background" style="background-image:url('<%= item.image_style_one_url %>');" data-img-width="3000" data-img-height="2144">
          <div class="content-a">
            <div class="content-b">
              Centered content
            </div>
          </div>
        </div>
      <% end %>
      <p class="carousel-prev"><img src="/assets/left-arrow.svg" alt="&laquo;" style="height:100%" /></p>
      <p class="carousel-next"><img src="/assets/right-arrow.svg" alt="&raquo;" style="height:100%" /></p>
    </div> <!-- end carousel -->
  </section>
</div>

<script>
/*
 *	
 * fullscreen carousel for homepage
 *
 */
$(function(){
  var current = 0;
  var items = [];

  $('#my-carousel div.carousel').each(function(){
    items.push(this)
  })

  $('.carousel-prev').click(function(){
    $(items[current]).fadeOut();
    current--;
    if (current == -1) {
      current = items.length - 1
    }
    $(items[current]).fadeIn()
  })

  $('.carousel-next').click(function(){
    $(items[current]).fadeOut();
    current++;
    if (current == items.length) {
      current = 0
    }
    $(items[current]).fadeIn()
  })

  $(items[current]).fadeIn();

  /*
   * resize images to fit into their container
   */ 
  backgroundResize({ 'data' : {'widthEle' : '#my-carousel', 'heightEle' : '#my-carousel'} });
  
  /*
   * when window is resized, resize images to fit into their container
   */ 
   $(window).resize({'widthEle' : '#my-carousel', 'heightEle' : '#my-carousel'}, backgroundResize);
})
</script>