<section class="blog shop">
<header style="background: #fff;">
    <%= render "shared/nav" %>
</header>
<aside>
  <h2>Shop</h2>
  <p>Type</p>
  <p>New arrivals</p>
  <p>Collections</p>
  <p>Material</p>
  <p>Price range</p>
</aside>

<article>
  <div id="items">
    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="/assets/down-triangle.svg" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="/assets/down-triangle.svg" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="/assets/down-triangle.svg" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="/assets/down-triangle.svg" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="/assets/down-triangle.svg" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="/assets/down-triangle.svg" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="/assets/down-triangle.svg" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="/assets/down-triangle.svg" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="/assets/down-triangle.svg" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>
  </div>
</article>
</section>

<%= render "shared/footer" %>