<div class="collections-info">
  <h2><a href="/collections/<%= id %>"><%= name %></a></h2>
  <p><a href="/collections/<%= id %>">View collection</a></p>
</div>

<p class="carousel-prev"><img src="/assets/left-arrow.svg" alt="&laquo;" style="height:100%" /></p>
<img class="slide" src="<%= collectionItemImage %>" width="100%" height="100%" />
<p class="carousel-next"><img src="/assets/right-arrow.svg" alt="&raquo;" style="height:100%" /></p>