<section class="blog collections">
  <header>
    
  </header>  
  <article>
    <div id="my-carousel">
    	<p class="carousel-prev"><img src="/assets/left-arrow.svg" alt="&laquo;" style="height:100%" /></p>
		<p class="carousel-next"><img src="/assets/right-arrow.svg" alt="&raquo;" style="height:100%" /></p>
	</div>
  </article>
</section>
