<section class="blog collection">
  <header>
    
  </header>  
  <article>
  	<div class="collections-info">
  		<h2><a href="/collections/<%= id %>"><%= name %></a></h2>
  		<p><%= description %></p>
	</div>

    <div id="m-carousel">
      <p class="carousel-prev"><img src="/assets/left-arrow.svg" alt="&laquo;" style="height:100%" /></p>
      <p class="carousel-next"><img src="/assets/right-arrow.svg" alt="&raquo;" style="height:100%" /></p>
    </div>
    
    <p class="back">Back to collections</p>
  </article>
</section>