.home .carousel {
	width: 100%;
	position: absolute;
	opacity: 0;
}

.carousel {
	width: 100%;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}

#my-carousel div:last-of-type {
	position: static;
}

.next {
	position: absolute;
}

.active,
.home .active {
	opacity: 1;
	position: absolute;
}

