footer {
	margin-top: 44px;
}

footer div div {
	border-top: 1px solid $borderColor;
}

@include media($mobile) {

	body footer div {
		float: none;
		display: block;
		width: auto;
		padding-top: 8px;
		padding-bottom: 0;
	}

	footer div:nth-child(3) a{
		display: block;
		padding: 11px 0;
	}

	footer div:nth-child(2) p:nth-child(3) {
		margin-top: 20px;
	}

	.home footer {
		display: none;
	}
}

.totop {
	display: block;
}

.totop svg {
	width: 13.5px;
	float: right;
	margin: 4px 0 0 0;
}