footer {
	margin-top: 20px;
}

footer div {
	border-top: 1px solid #ccc
}

@include media($mobile) {

	body footer div {
		float: none;
		display: block;
		width: auto;
		padding-top: 8px;
		padding-bottom: 20px;
	}

	footer div:nth-child(2) p:nth-child(3) {
		margin-top: 20px;
	}

	.home footer {
		display: none;
	}
}

.totop {
	display: block;
}

.totop img {
	width: 13.5px;
	float: right;
	margin: 0;
}