header {
	text-align: center;
  z-index: 100;
}

header img {
	margin-top: 20px;
	margin-bottom: 6px;
}

.home #navigation {
  display: none;
}

#subnav,
.subnav nav {
  margin-top: 10px;
}

body nav,
#subnav {
	display: inline;
	text-align: center;
	margin-bottom: 10px;
  background: #fff;

	@include media($mobile) {
      display: block;
      max-height: 0px;
      -webkit-transition: max-height 1s;
      transition: max-height 1s;
      overflow: hidden;
    }
}

body header nav {
	@include media($mobile) {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
}

.nav-header {
	display: none;

	@include media($mobile) {
      display: block;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      padding-top: 7px;
      padding-bottom: 7px;
      line-height: 28px;
      position: relative;
    }
}

header nav {
	border-bottom: 1px solid #939393;
	padding-bottom: 10px;
  // padding-top: 14px;
}

nav a,
nav a:active,
nav a:visited,
#subnav a,
#subnav a:active,
#subnav a:visited {
	color: #222;
}

nav a.current,
#subnav a.current {
	color: #999;
}

nav a,
#subnav a {
	margin-left: 10px;
	margin-right: 10px;
}

nav a {
	@include media($mobile) {
      display: block;
      padding: 7px 0 7px 0;
      border-top: 1px solid #aaa;
      line-height: 28px;
      margin-left: 0;
      margin-right: 0;
    }
}

nav a:nth-child(1) {
	@include media($mobile) {
      border-top: none;
    }
}

@include media($mobile) {
 .woop {
 	-webkit-transition: max-height 1s 0ms;
	transition: max-height 1s 0ms;
 	max-height: 400px;
 }

 #navigation {
  padding: 0 10px;
 }

 .subnav {
  display: none;
 }
}


.sticky {
  position: fixed !important;
  top: -74px;
  left: 0;
}

.stickypadding {
  padding-top: 122px;
}


