header {
	text-align: center;
  z-index: 100;
}

header img {
	margin-top: 20px;
  @include media($desktop) {
    margin-top: 30px;
  }
	margin-bottom: 6px;
}

.home #navigation {
  display: none;
}

#subnav nav {
  margin-bottom: 0;
}

body nav,
#subnav {
	display: inline;
	text-align: center;
	margin-bottom: 14px;
  background: #fff;

	@include media($mobile) {
      display: block;
      max-height: 0px;
      overflow: hidden;
    }
}

body header nav {
	@include media($mobile) {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;

    }
}

.nav-header {
	display: none;

	@include media($mobile) {
      display: block;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      padding-top: 7px;
      padding-bottom: 7px;
      line-height: 28px;
      position: relative;
      color: #999;
    }
}

header nav {
	padding-bottom: 10px;
  border-bottom: 1px solid #939393;
}

header nav {
  margin-bottom: 22px;
}

.collections header nav,
.collection header nav,
.other header nav,
.other header nav {
  margin-bottom: 14px;
}

nav a,
nav a:active,
nav a:visited,
#subnav a,
#subnav a:active,
#subnav a:visited {
	color: #222;
  -webkit-font-smoothing: antialiased;
}

nav.woop a {
  color: #999;
}

nav.woop a.current {
  color: #f60;
}

nav a.current,
#subnav a.current {
	color: #999;
}

nav a,
#subnav a {
	margin-left: 10px;
	margin-right: 10px;
}

nav .totop {
  display: none;
}

nav.stuck .totop {
  display: inline;
  position: absolute;
  margin: 0;
  top: 21px;
  right: 22px;
}

nav a {
	@include media($mobile) {
      display: block;
      padding: 7px 0 7px 0;
      border-top: 1px solid #aaa;
      line-height: 28px;
      margin-left: 0;
      margin-right: 0;
    }
}

nav a:nth-child(1) {
	@include media($mobile) {
      border-top: none;
    }
}

@include media($mobile) {
 .woop {
 	max-height: 400px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 12px;
 }

 .subnav {
  display: none;
 }

 .collections #subnav {
  display: none;
 }
}


