// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require ./fastclick.js
//= require ./modernizr.js
//= require ./picturefill.min.js
//= require ./jquery.appear.js
//= require ./_waypoints.min.js
//= require ./waypoints-sticky.min.js
//= require ./handlebars-v2.0.0.js
//= require ./enquire.min.js


/* make mobile touches faster */
window.addEventListener('load', function() {
    FastClick.attach(document.body);
}, false);


/* carousel */
function doCarousel(){
    
    var current = 0;
    var items = [];

    $('div.carousel', this).each(function(){
        items.push(this)
    })

    $(items[current+1]).toggleClass('next');

    if(items.length < 3) {
        $('.my-carousel').addClass('short');
        $('.active').addClass('lessThanThree');
    }

    var carouselPrev = function(e){
        if (e.which && typeof carouselAuto !== "undefined" && carouselAuto) {
            window.clearInterval(carouselAuto);
        }
        
        $(items[current]).toggleClass('active');
        current--;
        if (current == -1) {
          current = items.length - 1
        }
        // take next off next element and put active on it
        $('.next').toggleClass('next');
        $(items[current]).toggleClass('active');

        // put next on next element
        (current-1) < 0 ? $(items[items.length-1]).toggleClass('next') : $(items[current-1]).toggleClass('next');

        $('a.curr').removeClass('curr');

        var indic = $(this).closest('article').find('.indicator');
        $(indic).children('a:eq('+current+')').addClass('curr');
    }

    var carouselNext = function(e){

        console.log(items);
        if (e.which && typeof carouselAuto !== "undefined" && carouselAuto) {
            window.clearInterval(carouselAuto);
        }

        $(items[current]).toggleClass('active');
        current++;
        if (current == items.length) {
          current = 0
        }
        // take next off next element and put active on it
        $(items[current]).toggleClass('next').toggleClass('active');
        
        // put next on next element
        (current+1) == items.length ? $(items[0]).toggleClass('next') : $(items[current+1]).toggleClass('next');

        $('a.curr').removeClass('curr');

        if($('body').hasClass('home')) {
            var indic = $('.indicator');
        } else {
            var indic = $(this).closest('article').find('.indicator');
        }
        $(indic).children('a:eq('+current+')').addClass('curr');
    }

    $('.carousel-prev').click(carouselPrev);

    $('.carousel-next').click(carouselNext)

    var clas="";
    for (var i = 0; i < items.length; i++) {
        if (current == i) {
            clas = "curr";
        } else {
            clas = "";
        }
        $('.indicator').append('<a href="#" class="'+clas+'"><span>dot</span></a>');
    }

    if(items.length < 2){
        $('.carousel-prev').remove();
        $('.carousel-next').remove();
        $('.indicator').remove();
    }
};

$(function(){

    /* menu */
    SM = {};
    SM.menu = $('.nav-header span');
    SM.menu_old = "";
    SM.menu_new = "";

    $('.nav-header').click(function(){
        if(SM.revealed) {
            $('nav').toggleClass('woop');
            SM.revealed = false
            SM.menu.text(SM.menu_old);
            $('#open').hide();
            $('#closed').show();
        } else {
            $('nav').toggleClass('woop');
            SM.menu_old = SM.menu.text();
            SM.menu.text("Menu");
            $('#closed').hide();
            $('#open').show();
            SM.revealed = true
        }
    })
  

    /* sticky header */
    enquire.register("screen and (max-width:768px)", {
      match : function() {
        $('body:not(.home) .nav-header').waypoint('sticky');
      },
      unmatch : function() {
        $('body:not(.home) .nav-header').waypoint('unsticky');
      }
    });

    enquire.register("screen and (min-width:769px)", {
      match : function() {
        $('body:not(.home) nav').waypoint('sticky');
      },
      unmatch : function() {
        $('body:not(.home) nav').waypoint('unsticky');
      }
    }); 


    $('.my-carousel').each(doCarousel);
});

// (function() {

//   var css_href = '/fonts.css',
//       isCached = window.localStorage && localStorage.font_css_cache;
      
//   function onEvent(el, event, callback) {
//      if (el.addEventListener) {
//         el.addEventListener(event, callback);
//      } else if (el.attachEvent) {
//         el.attachEvent('on' + event, callback);
//      }
//   }
  
//   function injectStyle(text) {
//      var style = document.createElement('style');
//      document.getElementsByTagName('head')[0].appendChild(style);
//      if (style.styleSheet) {
//         style.styleSheet.cssText = text;
//      } else {
//         style.innerHTML = text;
//      }
//   }

//   function loadFonts() {
//      if (isCached && (localStorage.font_css_cache_file === css_href)) {
//         injectStyle(localStorage.font_css_cache);
//      } else {
//         var xhr = new XMLHttpRequest();
//         xhr.open('GET', css_href, true);
//         onEvent(xhr, 'load', function() {
//            if (xhr.readyState === 4) {
//               injectStyle(xhr.responseText);
//               localStorage.font_css_cache = xhr.responseText;
//               localStorage.font_css_cache_file = css_href;
//            }
//         });
//         xhr.send();
//      }
//   }

//   if (isCached) {
//      loadFonts();
//   } else {
//      onEvent(window, 'load', loadFonts);
//   }

// })();