@import "bourbon";
@import "grid-settings";
@import "neat";

body.home,
body.collections,
body.collection {
  $max-width: 100%;
  padding: 0 22px;
  @include media($mobile) {
    padding: 0 7px;
  }
  @include media($tablet) {
    padding: 0 7px;
  }
  @include outer-container;
}

body.items,
body.other,
body.project,
body.projects {
  padding: 0 22px;
  
  @include media($mobile) {
    padding: 0 7px;
  }

  @include media($tablet) {
    padding: 0 7px;
  }
}

#contentcontainer {
  $max-width: 1366px;
  @include outer-container;
}

body {
  

  #items {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(4);
    }
  }

  nav,
  #subnav {
  	@include span-columns(12);
  }

  
  section.blog {
  	@include span-columns(12);
    
    @include media($tablet) {
      width: 100%;
    }
    @include media($mobile) {
      width: 100%;
    }
  }

  header,
  #navigation {
  	@include span-columns(12);
  }

  aside {
    @include media($desktop) {
      width: 25%;
      margin-right: 0;
      padding-right: 22px;
      float: left;
    }

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .news-item {
    @include span-columns(12);
    margin-bottom: 20px;
  }

  article {
    float: left;
    @include media($desktop) {
      width: 75%;
      min-height: 600px;
      }
  }

  @include media($tablet) {
    .projects article,
    .archive article, {
      @include span-columns(4);
    }
    .archive aside {
      @include span-columns(4);
    }
  }

  @include media($mobile) {
    .info article,
    .contact article,
    .archiveitem article,
    .projects article,
    .projectitem article  {
      @include span-columns(4);
    }
  }

  article img {
    @include span-columns(9 of 9);
  }

  footer {
  	@include span-columns(12);
    margin: 0;
  }

  footer>div {
    float: left;
  	width: 25%;
    margin: 0;
    @include media($desktop) {
      padding-right: 22px;
    }
  }

  footer>div:nth-child(4) {
    padding-right: 0;
  }

  .items article,
  .collections article,
  .collection article,
  .projects article {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .projectitem aside {
    @include span-columns(3 of 12);
  }
  .projectitem article {
    @include span-columns(9 of 12);
  }

  .item {
    float: left;
    width: 50%;
    padding-right: $gutter/2;


    margin-bottom: $gutter;

    @include media($mobile) {
      @include span-columns(4);
      height: 225px;
      margin:  0 0 15px 0 !important;
    }

    @include media($tablet) {
      @include span-columns(4);
      height: 360px !important;
      margin: 0 0 15px 0 !important;
    }
  }

  .item-2 {
    padding-left: $gutter/2;
    padding-right: 0;

    // height: 429px;
    @include omega();
    @include media($mobile) {
      @include span-columns(4);
      height: 225px;
    }

    @include media($tablet) {
      @include span-columns(4);
      height: 360px !important;
    }
  }

  .item-3 {
    // height: 627px;
    margin-top: -21.8%;

    @include media($mobile) {
      @include span-columns(4);
      height: 225px;
    }

    @include media($tablet) {
      @include span-columns(4);
      height: 360px !important;
    }
  }

  .item-4 {
    padding-left: $gutter/2;
    width: 25%;
    margin-right: 0;
    padding-right: 6px;

    // height: 146px;
    @include media($mobile) {
      @include span-columns(4);
      // height: 225px;
    }

    @include media($tablet) {
      @include span-columns(4);
      // height: 360px !important;
    }
  }

  .item-5 {
    width: 25%;
    padding-left: 16px;
    padding-right: 0;

    @include omega();
    // height: 146px;

    @include media($mobile) {
      @include span-columns(4);
      height: 225px;
    }

    @include media($tablet) {
      @include span-columns(4);
      height: 360px !important;
    }
  }

  @include media($desktop) {
    .projects .item-5 {
      padding-left: 0;
      padding-right: 11px;
    }

    .projects .item-4 {
      width: 50%;
      padding-right: 0px;
    }
  }

  .item-6 {
    padding-left: $gutter/2;
    padding-right: 0;
    width: 50%;
    
    @include omega();
    // height: 301px;
    @include media($mobile) {
      @include span-columns(4);
      height: 225px;
    }

    @include media($tablet) {
      @include span-columns(4);
      height: 360px !important;
    }
  }

  @include media($tablet) {
    .item,
    .item-2,
    .item-3,
    .item-4,
    .item-5,
    .item-6 {
      padding: 0;
    }
  }

  @include media($mobile) {
    .item,
    .item-2,
    .item-3,
    .item-4,
    .item-5,
    .item-6 {
      padding: 0;
    }
  }

  .items .item-1 .not-fullscreen:before,
  .items .item-4 .not-fullscreen:before,
  .items .item-5 .not-fullscreen:before,
  .items .item-6 .not-fullscreen:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }

  .items .item-2 .not-fullscreen:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .items .item-3 .not-fullscreen:before {
    content: "";
    display: block;
    padding-top: 131%;
  }

  .collections article .carousel-item img,
  .collection article .carousel-item img {
    @include media($mobile) {
      margin: 0;
    }

    @include media($tablet) {
      margin: 0;
      
    }
  }

  .archive-item {

    @include media($desktop) {
      float: left;
      width: 33%;
      padding-right: 14px;
      margin-right: 0;
    }

    @include media($mobile) {
      margin-bottom: 15px;
    }

    @include media($tablet) {
      @include span-columns(2 of 4);
      @include omega(2n);
    }

    @include media($desktop) {
      @include omega(3n);
      margin-bottom: 5px;
    }

    display: table;
    text-align: center;
  }

  @include media($desktop) {

    .archive-item:nth-child(3n+2) {
      padding-right: 7px;
      padding-left: 8px;
    }

    .archive-item:nth-child(3n+3) {
      padding-right: 0;
      padding-left: 15px;
      width: 34%;
      // padding-left: 13px;
    }
  }

  .inside {
    vertical-align: middle;
    display: block;
    height: 220px;
    @include media($mobile) {
      height: 205px;
    }
  }

  #pagination-tools {
     @include span-columns(12);
  }

  .projectitem aside {
    @include media($mobile) {
      @include span-columns(4);
    }
  }
  .projectitem article {
     @include span-columns(9);
     @include media($mobile) {
      @include span-columns(4);
    }
  }

  .projectitem article img {
    @include span-columns(6 of 6);
    /* TODO: fix */
    height: 560px;
    @include media($mobile) {
      @include span-columns(4 of 4);
      height: auto;
    }    
  }

  #projectnav {
    @include span-columns(12);
  }

  #projectnav p {
    @include span-columns(4);
  }

  div.wider {
    background-size: cover;
    background-position: 50% 50%;
    @include media($tablet) {
      width:100%;
      height: 400px; 
    }
    @include media($desktop) {
      width:100%;
      height: 612px; 
    }
    @include media($mobile) {
      width:100%;
      height: 306px; 
    }
  }

  .talll {
    height: 100%;
  }

  div.taller {
    background-size: contain;
    width: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
    height: 100%;
  }

  .projectitem article img.taller {
    width: auto;
  }

  .collection #my-carousel div.talll {
    width: auto;
    padding-left: 50%;
    height: 1022px;
  }

  @include media($desktop) {
    .projectitem #my-carousel div.talll img {
      margin-left: -50%;
    }
  }

  @include media($mobile) {

    .collection #my-carousel div.talll {
      width: 100%;
      height: 306px;
      padding-left: 0;
    }

    .projectitem article img.taller {
      width: 100%;
      margin-top: -50%;
    }
  }

  @include media($mobile) {
    .collection .carousel img.taller {
      margin-top: -50%;
    }
  }

  .shop .archive-item {
    margin-bottom: 10px
  }

  .shop .archive-item .inside {
    height: auto
  }
}





