@import "bourbon";
@import "grid-settings";
@import "neat";

body {
  @include outer-container;

  nav {
  	@include span-columns(12);
  }

  section.blog {
  	@include span-columns(12);
  }

  header {
  	@include span-columns(12);
  }

  aside {
    @include span-columns(3);
  }

  .news-item {
    @include span-columns(12);
    margin-bottom: 20px;
  }

  article {
    @include span-columns(9);
  }

  article img {
    @include span-columns(9 of 9);
  }

  footer {
  	@include span-columns(12);
  }

  footer>div {
  	@include span-columns(3 of 12);
  }

  .items article,
  .projects article {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .item {
    @include span-columns(6);
    height: 267px;
    margin-bottom: 15px;

    @include media($mobile) {
      @include span-columns(4);
      height: 225px;
    }
  }

  .item-1 {
    background: yellow;
  }

  .item-2 {
    background: orange;
    height: 429px;
    @include omega();
    @include media($mobile) {
      height: 225px;
    }
  }

  .item-3 {
    background: red;
    height: 627px;
    margin-top: -164px;

    @include media($mobile) {
      height: 225px;
      margin-top: 0;
    }
  }

  .item-4 {
    background: purple;
    @include span-columns(3 of 12);
    height: 146px;

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .item-5 {
    background: green;
    @include span-columns(3 of 12);
    @include omega();
    height: 146px;

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .item-6 {
    background: blue;
    @include span-columns(6 of 12);
    @include omega();
    height: 301px;

    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .collections article {
    @include span-columns(12);
    // @include media($mobile) {
    //   @include span-columns(4);
    // }
  }

  .archive-item {
    @include span-columns(3 of 9);
    @include omega(3n);
    margin-bottom: 45px;
    display: table;
    text-align: center;
  }

  .inside {
    vertical-align: middle;
    display: table-cell;
    height: 220px;
  }

  #pagination-tools {
     @include span-columns(12);
  }

  .projectitem article img {
    @include span-columns(6 of 9);
  }
}





