@import "bourbon";
@import "grid-settings";
@import "neat";

body {
  @include outer-container;

  nav {
  	@include span-columns(12);
  }

  section.blog {
  	@include span-columns(12);
  }

  header {
  	@include span-columns(12);
  }

  aside {
    @include span-columns(3);
  }

  .news-item {
    @include span-columns(12);
    margin-bottom: 20px;
  }

  article {
    @include span-columns(9);
  }

  article img {
    @include span-columns(9 of 9);
  }

  footer {
  	@include span-columns(12);
  }

  footer>div {
  	@include span-columns(3 of 12);
  }

  .items article {
    @include span-columns(12);
  }

  .item {
    @include span-columns(6);
    height: 300px;
    margin-bottom: 15px;
  }

  .item-one {
    background: yellow;
  }

  .item-two {
    background: orange;
    height: 450px;
    @include omega();
  }

  .item-three {
    background: red;
    height: 615px;
    margin-top: -150px;
  }

  .item-four {
    background: purple;
    @include span-columns(3 of 12);
    height: 225px;
  }

  .item-five {
    background: green;
    @include span-columns(3 of 12);
    @include omega();
    
    height: 225px;
  }

  .item-six {
    background: blue;
    @include span-columns(6 of 12);
    @include omega();
    height: 225px;
  }
}