h1, h2, h3, h4, h5, h6, p {
	color: #222;
}


/*************************************
*    font-sizes - all 15px or 16px or 23px
/*************************************/

/* 23px */
h2,
aside p,
.stockist {
	font-size: 1.45em;
}

/* 15px */
.collections-info p,
.collection-info p,
.topback {
	font-size: 0.95em;
}

.stockist a {
	font-size: 16px;
}

h2,
p,
.stockist a {
	font-family: 'Freight Text Book';
}


ul,
ul li a,
p.collectionInfo,
.collection .back,
footer p,
.topback,
.proj-name,
.content-b p {
	font-family: "DIN Next Pro Regular";
}

/*************************************
*    end of font-sizes
/*************************************/



em {
	color: #222;
}

nav,
#subnav,
footer,
.item {
	font-size: 0.95em;
}

footer div {
	padding-top: 4px;
	padding-bottom: 100px;
}

footer div p {
	line-height: 1.5em;
}

footer,
aside a {
	color: #808080;
}

aside ul li,
aside ul li a {
	color: #808080;
}

a.current {
	color: #ff7e15;
}

footer em {
	color: #424242;
}

footer,
footer a {
	color: #999;
}

h2 {
	color: #ff7e15;
	border-top: 1px solid #ccc;
	padding-top: 8px;
	margin-bottom: 32px;

	@include media($mobile) {
		margin: 0 0 1.5em 0;
	}
}

aside p:nth-of-type(1) {
	border-top: 1px solid #ccc;
}

aside p {
	padding-top: 8px;
	line-height: 1.3em;

	@include media($mobile) {
		line-height: 1.3em;
	}
}

aside h2,
aside p,
aside a,
.projects h2 {
	// font-family: 'Freight Text Medium';
	// font-family: 'Freight Text Light';
	font-family: 'Freight Text Book';
	// font-family: 'Freight Text Bold';
}

aside em {
	font-family: 'Freight Text Book';
	font-style: italic;
}

aside .tel em {
	font-style: normal;
}

.tel a {
	color: #222;
}

.home h2 a {
	color: #fff;
}

.stockist a {
	color: #999;
}