h1, h2, h3, h4, h5, h6, p {
	color: $bodyText;
	-webkit-font-smoothing: antialiased;
}


/*************************************
*    font-sizes - all 15px or 16px or 23px
/*************************************/

/* 23px */
h2,
h3,
.stockist {
	font-size: 1.4em;
}

.stockist a:hover{
	text-decoration: underline;
}

.collection-info h2,
.collections-info h2 {
	font-size: 36px;	
}

.aboutcoll {
	font-size: 22px;
}

.aboutcoll .readmore {
	font-size: 16px;
}

@include media($mobile) {
	.info h2 {
		border-top: 0;
		padding-bottom: 1.5em;
		padding-top: 0.5em;
	}

	.news h2 {
		padding-bottom: 0;
	}
}

ul,
ul li a,
p.collectionInfo,
.collection .back,
footer p,
.topback a,
.proj-name,
.content-b p {
	font-family: "GT-Walsheim", Helvetica;
}

.stockists aside div p {
	font-family: "GT-Walsheim", Helvetica;
}

/*************************************
*    end of font-sizes
/*************************************/

.item-overlay p {
	color: #fff;
}

.content-b {
	color: $bodyHighlight;
}

footer div div {
	padding-top: 4px;
	padding-bottom: 100px;
}

footer div p {
	line-height: 1.5em;
}

nav a,
nav a:active,
nav a:visited,
#subnav a,
#subnav a:active,
#subnav a:visited {
	color: $navLink;
  -webkit-font-smoothing: antialiased;
}

nav a:hover,
#subnav a:hover {
  color: $navHover;
}

nav a.current,
#subnav a.current {
	color: $navActive;
}

h2 {
	color: #ff7e15;
	border-top: 1px solid $borderColor;
	padding-top: 8px;
	margin-bottom: 32px;

	@include media($mobile) {
		margin: 0;
		padding: 0;
	}
}

.project h2 {
	margin-bottom: 0;
}

aside p,
.info article div p {
	padding-top: 8px;
	line-height: 1.5em;

	@include media($mobile) {
		line-height: 1.3em;
	}
}

.info article h2 {
	border: 0;
}

aside .tel em {
	font-style: normal;
}

.home h2 a,
.collection-info a,
.shopthis,
.shopthis:visited,
.shopthis:active {
	color: #fff;
}