<section class="blog items">
  <header>
    
  </header>
  <article>
    
  </article>
  <div id="pagination-tools" style="z-index:500; border: 10px solid red">
    <p class="item-prev">prev</p>
    <p class="item-next">next</p>
  </div>
 </section>