<section class="blog items">
  <header>
    <img src="/assets/logo.svg" />
      <nav>
        <a href="/">Home</a>
        <a href="/items">Items</a>
        <a href="/collections">Collections</a>
        <a href="/archive">Archive</a>
        <a href="/projects">Projects</a>
        <a href="/about">Information</a>
        <a href="/shop">Shop</a>
      </nav>
  </header>
  <article>
    
  </article>
  <div id="pagination-tools" style="z-index:500; border: 10px solid red">
    <p class="item-prev">prev</p>
    <p class="item-next">next</p>
  </div>
 </section>