@import "neat-helpers";

// Change the grid settings
$column: 312px;
$gutter: 60px;
$grid-columns: 12;
$max-width: 98%;

// $max-width: em(1366);

// Define your breakpoints
$mobile: new-breakpoint(max-width 508px 4);
$tablet: new-breakpoint(min-width 509px max-width 1041px 4);
$desktop: new-breakpoint(min-width 768px);
