@import "bourbon";
@import "neat";

$borderColor: #bbb;
$rolloverColor: #444;
$rolloverColorRGB: rgba(68, 68, 68, 0.8);

$bodyText: #444;
$bodyLink: #888;
$bodyHover: #444;
$bodyHighlight: #f90;

$navLink: #444;
$navHover: #888;
$navActive: #888;

a,
a:visited {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
  	color: $bodyLink;
}

a:active {
	color: $bodyLink !important;
}

a:hover {
  	color: $bodyHover;
}

div,
p,
span {
	color: $bodyText;
}

header * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@import "reset";
@import "partials/*";
@import "modules/*";
@import "items";
@import "collections";
@import "archive";
@import "projects";
@import "pages";
@import "shop";
@import "blog";

//= require active_admin/editor/wysiwyg
 