.archive aside h2 {
	border-top: 0;
	padding-top: 0;
}

.archive-item {
	height: 250px;
	text-align: center;
	position: relative;
	margin-bottom: 45px;
}

.archive-item img {
	max-height: 100%;
	width: auto;

	max-width: 100%;
	height: auto;

	float: none;
	display: inline;
	margin-right: 0;
}

.archive-item div {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.archive-item:hover div {
	display: block;
}