.archive aside h2 {
	border-top: 0;
	padding-top: 0;
}

.archive-item img {
	max-height: 100%;
	width: auto;
	max-width: 100%;
	height: auto;
	float: none;
	display: inline;
	margin-right: 0;
}

.item-overlay {
	display: none;
	
	top: 0;
	left: 0;
}

.archive-item:hover .item-overlay {
	display: table-cell;
}

.inside-inside {
	position: relative;
}

.category-nav {
	margin-bottom: 50px;
}

aside ul {
	font-size: 0.9em;
}

ul:nth-of-type(1) {
	margin-top: 20px;
}

ul:nth-of-type(1) ul {
	margin-top: 6px;
}

ul li ul {
	margin-left: 18px;
}

ul li {
	padding: 4px 0 4px 0;
	border-top: 1px solid #aaa;
}

ul:nth-of-type(2) {
	border-bottom: 1px solid #aaa;
}