// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info aside h2 {
	border: 0;
}

@include media($desktop) {
	body .news-item, 
	body .news-item article {
		height: 570px;
		overflow: hidden;
	}

	body .news #my-carousel {
		height: auto;
	}

	.news p.indicator {
		position: absolute;
		bottom: 0;
		z-index: 100;
	}
}

@include media($mobile) {
	body .news-item, 
	body .news-item article,
	body .news-item #my-carousel,
	body .news-item .carousel {
		min-height: 300px;
	}
}