// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collection {
	position: relative;
}

.collections article div h2,
.collections article div p,
.collections article div p a {
	color: #fff;
}

.indicator a {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: gray;
	display: inline-block;
	margin: 0 3px;
	@include media($mobile) {
		width: 8px;
		height: 8px;
		margin: 0 4px;
	}
}

.indicator a.curr {
	background: #fff;	
	-webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
   	transition: background 1s;
}

.indicator span {
	display: none;
}

p.indicator {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 20px;
	text-align: center;
	margin-bottom: 0;
}

.collection article p.indicator {
	margin-bottom: 0;
}

.collections-info,
.collection-info {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 15px;
	color: #fff;
	width: 25%;
	@include media($tablet) {
		width: 25%;
	}
	@include media($desktop) {
		max-width: 400px;
	}
	z-index: 9;
}

.collections-info h2,
.collection-info h2,
.collections-info p,
.collection-info p {
	border-top: 1px solid #fff;
	color: #fff;
}

.collections-info p,
.collection-info p {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #fff;
}

.collections-info p a {
	display: block;
}

.collection-info p.collectionInfo img {
	margin-top: -2px;
}

.shopthis a {
	color: #fff;
}

@include media($desktop) {
	.collections footer,
	.collection footer {
		display: none;
	}
}

@include media($tablet) {
	.collections footer,
	.collection footer {
		display: none;
	}
}


.collections #my-carousel,
.collection #my-carousel {
	position: relative;
	border: 0;
}

.collection .back,
.collection .desc {
	display: none;
}

.collection article .collections-info {
	position: absolute;
	top: auto;
	left: auto;
	z-index: 1000;
}

.collection article .collections-info p,
.collection article .collections-info a,
.collection article .collections-info a:visited,
.collections-info h2 a {
	color: #fff;
}

.shopthis {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #fff;
	padding: 5px;
	margin: 15px;
	height: auto !important;
}

.lessThanThree {
	position: static;
}

.collection-info .collectionDesc {
	height: 0;
	overflow: hidden;
	padding: 0;
	border: 0;
}

.collectionInfo {
	cursor: pointer;
}

@include media($mobile) {

	.collections #subnav,
	.collection #subnav,
	.collections .carousel-prev,
	.collections .carousel-next {
		display: none;
	}

	.lessThanThree {
		position: relative;
	}

	.collection .carousel {
		float: left;
	}

	.collections .carousel {
		float: left;
		margin-bottom: 10px;
	}

	.collection-info .collectionInfo {
		display: none;
	}

	.collections .collections-info {
		padding: 0;
		width: 100%;
	}

	.collections .collections-info h2 {
		color: #f60;
		margin-bottom: 12px;
		padding-bottom: 10px;
		border-bottom: 1px solid $borderColor;
	}

	.collections .collections-info p {
		display: none;
	}

	.collections-info h2 a {
		color: #f60;
	}

	.collections-info,
	.collections .carousel,
	.collections .carousel.active,
	.collections .carousel.next {
		position: static;
		opacity: 1;
	}

	.collection .indicator a {
		background: #ababab;
	}

	.collections .indicator {
		display: none;
	}
	
	.projectitem .indicator a.curr,
	.collection .indicator a.curr {
		background: #2d2d2d;	
	}

	.shopthis a {
		color: #2d2d2d;
	}

	.collection-info p {
		color: #2d2d2d;
	}

	.collection article p.indicator {
		padding: 10px 0;
		position: static;
	}

	.collection-info {
		position: static;
		padding: 0;
		width: 100%;
	}

	.shopthis {
		position: absolute;
		right: 0;
	}
	
	.collections #my-carousel {
		border: 0;
	}

	.collection #my-carousel {
		
	}

	.collection #my-carousel .carousel-item {
		height: 192px;
		width: 100%;
	}

	.collections #my-carousel {
		position: relative;
	}

	.collections .carousel-item {
		display: block;
		height: 192px;
		width: 100%;
		margin: 0 0 55px 0;
	}

	.collections .carousel-item:after {
		content: " ";
	}

	.collections .carousel-item p {
		display: none;
	}

	.collections article .carousel-item .collections-info,
	.collection article .collections-info {
		display: block;
		position: static;
		padding: 0;
		width: auto;
	}

	.collections .carousel-item .collections-info h2,
	.collection .collections-info h2,
	.collection .collection-info h2 {
		color: #ff7e15;
		margin-bottom: 10px;
		border-bottom: 1px solid $borderColor;
		display: block;
		padding-bottom: 10px;
	}

	.collections article .carousel-item .collections-info h2 a,
	.collection article .collections-info h2 a,
	.collection article .collections-info h2 a:visited {
		color: #ff7e15;
	}

	.collection article h2 {
		border-top: 0;
		border-bottom: 1px solid $borderColor;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}

	.collection .back {
		border-top: 1px solid $borderColor;
		border-bottom: 1px solid $borderColor;
		margin-top: 10px;
		padding: 10px 0;
	}
}

.active {
	display: block;
}

@include media($tablet) {
	.collections .carousel-item {
		display: block;
		margin: 0 0 15px 0;
	}

	.collections .carousel-item p {
		display: none;
	}

	.collections article .carousel-item .collections-info {
		display: block;
		position: static;
		padding: 0;
		width: auto;
	}

	.collections article .carousel-item .collections-info h2 {
		color: #ff7e15;
		margin-bottom: 10px;
		border-bottom: 1px solid $borderColor;
		display: block;
		padding-bottom: 10px;
	}

	.collections article .carousel-item .collections-info h2 a {
		color: #ff7e15;
	}
}

@include media($desktop) {
	body.collections,
	body.collection {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		bottom: 0;
	}

	.collections #items,
	.collection #items {
		position: fixed;
		top: 167px;
		left: 22px;
		right: 22px;
		bottom: 22px;
		width: auto;
		float: none;
		margin: 0;
	}

	.collections article,
	.collections section,
	.collections #my-carousel,
	.collection article,
	.collection section,
	.collection #my-carousel {
		height: 100%;
	}

	.collections article,
	.collection article {
		min-height: 0;
	}

	.collections .carousel,
	.collections .carousel div,
	.collection .carousel,
	.collection .carousel div {
		height: 100%;
	}

	body.collection #my-carousel div.talll {
		width: 100%;
		padding-left: 0;
		height: 100%;
	}

	body.collection div.imgcontainer {
		background-size: cover;
		background-position: 50% 50%; 
	}

	div.talll div.imgcontainer {
		background-size: contain;
		background-repeat: no-repeat;
	}
}

/* almost exact duplicate of above... sad-sass-face */
@include media($tablet) {
	body.collections,
	body.collection {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		bottom: 0;
	}

	.collections #items,
	.collection #items {
		position: fixed;
		top: 167px;
		left: 7px;
		right: 7px;
		bottom: 7px;
		width: auto;
		float: none;
		margin: 0;
	}

	.collections article,
	.collections section,
	.collections #my-carousel,
	.collection article,
	.collection section,
	.collection #my-carousel {
		height: 100%;
	}

	.collections article,
	.collection article {
		min-height: 0;
	}

	.collections .carousel,
	.collections .carousel div,
	.collection .carousel,
	.collection .carousel div {
		height: 100%;
	}

	body.collection #my-carousel div.talll {
		width: 100%;
		padding-left: 0;
		height: 100%;
	}

	body.collection div.imgcontainer {
		background-size: cover;
		background-position: 50% 50%; 
	}

	div.talll div.imgcontainer {
		background-size: contain;
		background-repeat: no-repeat;
	}
}

@include media($mobile) {
	.imgcontainer {
		height: 241px;
		background-size: cover;
	}
}


