#my-carousel {
	-ms-transform:translate(0,0);
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

body.remove {
	-webkit-transition:top 1000ms ease;
	transition:top 1000ms ease;

	top: -100%;
}

.pre-addition,
.pre-pre-addition {
	position: absolute;
	top: 100%;
	left: 22px;
	right: 22px;
	margin: 0 auto;
	@include media($mobile) {
		left: 7px;
		right: 7px;
	}
}

.pre-pre-addition {
	left: 0;
	right: 0;
}

.pre-pre-addition {
	max-width: 1366px;
}


#homepagelinks {
	position: absolute;
	top: 44px;
	right: 44px;
	padding: 0;
	color: #fff;
	z-index: 200;
	font-size: 16px;
	text-align: right;
	@include media($mobile) {
		display: none;
	}
}
#shoplinks {
	position: absolute;
	top: 44px;
	left: 44px;
	padding: 0;
	color: #fff;
	z-index: 200;
	font-size: 16px;
	@include media($mobile) {
		display: none;
	}
}

#shoplinks svg {
	vertical-align: middle;	
}

#shoplinks a,
#shoplinks a:visited,
#homepagelinks a,
#homepagelinks a:visited {
	color: #fff;
	padding: 0 4px;
}

#homepagelinks a:last-of-type {
	padding: 0;
}

#shoplinks a:hover,
#homepagelinks a:hover,
#shoplinks a:active,
#homepagelinks a:active {
	color: #444;
}

.addition {
	top: 0;	
	-webkit-transition: top 1s;
	-moz-transition: top 1s;
 	-ms-transition: top 1s;
  	-o-transition: top 1s;
	transition: top 1s;
}

body .item {
	overflow: hidden;
	position: relative;
}

@include media($desktop) {

	.item .content-a {
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
	  	-ms-transition: opacity 0.5s;
	  	-o-transition: opacity 0.5s;
	  	transition: opacity 0.5s;
		background-color: $rolloverColorRGB;
	}

	.item:hover .content-a {
		opacity: 1;
	}

	.home .proj-name {
		display: none
	}
	
}

@include media($mobile) {
	.item .content-a {
		display: table;
	}
}

.items article a {
	width: 100%;
	height: 100%;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@include media($tablet) {
	.projects article a {
		width: 100%;
		height: 100%;
		position:  absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
.item .content-a p,
.content-b a,
.content-b hr {
	color: #fff;
}

.archiveitem aside h2,
.archive aside h2 {
	border-top: 0;
	padding-top: 0;
	margin: 0;
}

.archiveitem .carousel-prev span,
.archiveitem .carousel-next span {
	display: none;
}

.archiveitem aside p.desc {
	margin-top: 8px;
}

.archiveitem aside p {
	@include media($desktop) {
		border-bottom: 1px solid $borderColor;
	}
	padding-top: 8px;
	padding-bottom: 8px;
}

.item-overlay {
	width: 100%;
	height: 100%;
	opacity: 1;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	display: none;

	@include media($desktop) {
		background-color: $rolloverColorRGB;
	}
}

.down-triangle {
	width: 13.5px;
	float: none;
	display: inline;
	margin: 0;
}

@include media($mobile) {
	body .projects .item {
		@include span-columns(4);
	}

	body.home .item {
		height: 262px !important;
	}

	body.home .item .content-a {
		display: none;
	}
}

@include media($tablet) {
	body .projects .item {
		@include span-columns(4);
	}
}


