#items {
	@include media($mobile) {
      padding: 10px;
    }    
}

body .item {
	overflow: hidden;
	position: relative;
}

@include media($desktop) {

	.item .content-a {
		opacity: 0;
		background-color: rgba(255, 102, 0, 0.7);
	}

	.item:hover .content-a {
		opacity: 1;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
	  	-ms-transition: opacity 1s;
	  	-o-transition: opacity 1s;
	  	transition: opacity 1s;
	}

	
}

@include media($mobile) {
	.item .content-a {
		display: table;
	}
}

.item .content-a p,
.content-b,
.content-b a {
	color: #fff;
}

.archiveitem aside h2 {
	border-top: 0;
	padding-top: 0;
	margin: 0;
}

.archiveitem .carousel-prev span,
.archiveitem .carousel-next span {
	display: none;
}

.archiveitem aside p.desc {
	font-size: 1em;
	padding-bottom: 1em;
	margin-top: 8px;
}

.archiveitem aside p {
	font-size: 0.95em;
	border-bottom: 1px solid #ccc;
	padding-top: 8px;
	padding-bottom: 8px;
}

.item-overlay {
	width: 100%;
	height: 100%;
	opacity: 1;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	display: none;

	@include media($desktop) {
		background-color: rgba(255, 102, 0, 0.7);
	}
}

.item-overlay p {
	color: #fff;
}

.down-triangle {
	width: 10px;
	float: none;
	display: inline;
	margin: 0;
}

@include media($mobile) {
	body .projects .item {
		@include span-columns(4);
	}
}

@include media($tablet) {
	body .projects .item {
		@include span-columns(4);
	}
}


