body {
	display: block;
	padding: 0;
	margin: 0 auto;

}

body.home {
	height: 100%;
	overflow: hidden;
}

section {
	margin-top: 14px;
	@include media($tablet) {
		margin-top: 22px;
	}
	@include media($mobile) {
		margin-top: 22px;
	}
}

@include media($desktop) {
	.collections section,
	.collection section,
	.info section {
		margin-top: 14px;
	}
}

@include media($tablet) {
	.collections section,
	.collection section,
	.info section {
		margin-top: 14px;
	}
}

div, h1 {
	padding: 0;
	margin: 0
}

.stockists aside div p {
	padding: 8px 0;
	border-bottom: 1px solid $borderColor;
	font-size: 1em;
}

@include media($tablet) {
	.fulladdress {
		display: none;
	}
}

@include media($desktop) {
	.smalladdress {
		display: none;
	}
}

@include media($mobile) {
	.smalladdress {
		display: none;
	}
}

aside p:nth-of-type(1) {
	border-top: 1px solid $borderColor;
}

.project aside p:nth-of-type(1) {
	border-top: 0;
	padding-top: 0;
	margin-bottom: 1em;
}

.content-a {
	transition: background 0.25s;
}

.hoverShadow {
	background: rgba(0, 0, 0, 0.5);
}

#my-carousel {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.home #my-carousel {
	border: 22px solid #fff;
	
	@include media($mobile) {
		border: 7px solid #fff;
  	}
}

.home .content-a {
	z-index: 10;
}

#centerer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;
	z-index: 10;
}

#centerer-inner {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
	display: table-cell;
}

.background {
background-repeat:no-repeat;
background-position:50% 50%;
}
  
.fullscreen,
.content-a {
    width:100%;
    height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    
    position: relative;
}

.projects .not-fullscreen,
.home .not-fullscreen {
	height: 100%;
}

@include media($mobile) {
	body.home .pre-addition .not-fullscreen {
		height: 225px;
	}
}

/* content centering styles */
.content-a {
    display:table;
    position: absolute;
}

.projects .content-a {
    position: static;
}

.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

h1 svg {
	width: 56%;
	max-width: 800px;
}

.home .content-b h2 {
	display: inline-block;
	color: #fff;
	border: 1px solid #fff;
	padding: 5px 40px 5px 40px;
	margin: 18px 0 0 0;
}

.carousel-item { 
	display: none;
}

.collection .carousel-item {
	position: absolute;
}

.carousel-prev {
	position: absolute;
	left: 18px;
	top: 50%;
	z-index: 100;
	height: 30px;
	margin-top: -15px;
}

.carousel-next,
.carousel-prev {
	cursor: pointer;
}

.carousel-next {
	position: absolute;
	right: 18px;
	top: 50%;
	z-index: 100;
	height: 30px;
	margin-top: -15px;
}

.news aside h2 {
	margin: 0;
}

.news aside h2:nth-of-type(2) {
	border-top: 0;
	margin-bottom: 16px;
	padding-top: 0px;
}

.contact aside p:nth-of-type(1) {
	padding-top: 8px;
}

.contact aside p {
	margin: 0;
	padding: 0;
}

.contact aside p a {
	word-wrap: break-word;
}

body.home .carousel-item {
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	position: absolute;
}

body.home .carousel-item img {
	height: 100%;
	width: auto;
	margin: 0 -100%;
}

@media screen and (max-width: 599px) {

	.carousel-prev,
	.carousel-next {
		margin-top: -16px;
	}

	#centerer h2 {
		margin: 25px 0 0 0;
	}

	h1 svg {
		width: 80%;
	}
}

#subnav span {
	display: none;
}

.contact p img {
	width: 8px;
	height: 9px;
}

.js .pagination {
	display: none;
}
 
.sticky-wrapper {
	float: left;
	width: 100%;
}

@include media($mobile) {
	.sticky-wrapper {
		margin-bottom: 0;
	}
}

body header nav {
	@include media($desktop) {
		padding-top: 20px;
		height: 55px;
	}
	@include media($tablet) {
		padding-top: 20px;
		height: 55px;
	}
}

@include media($desktop) {
	.stuck {
		position: fixed;
		top: 0;
		left: 22px;
		right: 22px;
		z-index: 20;
		width: auto;
	}
}

.home footer {
	display: none;
}

@include media($mobile) {

	.archiveitem aside p.desc,
	.info aside p {
		margin-bottom: 1em;
	}

	.contact aside p {
		margin-bottom: 0;
	}

	body #items {
		padding-top: 0;
	}

	#subnav {
		float: left;
		max-height: 200px;
		text-align: left;
	}

	body header nav {
		padding-top: 0;
	}

	#subnav,
	#subnav a {
		display: block;
		float: left;
		margin: 0;
	}

	#subnav a {
		padding: 8px 0;
		width: 100%;
	}

	#subnav span {
		display: inline;
	}

	.carousel-prev,
	.carousel-next {
		display: none;
	}
} 

.stockist {
	float: left;
	width: 33%;
	margin-bottom: 22px;
}

.stockists section {
	border-top: 1px solid $borderColor;
}

.stockists h2 {
	border: none;
}

.shortlink {
	display: none;
}

@include media($tablet) {
	.shortlink {
		display: inline;
	}

	.longlink {
		display: none;
	}
}

@include media($mobile) {
	.shortlink {
		display: inline;
	}

	.longlink {
		display: none;
	}
}

.stockists-holder {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

@include media($mobile) {
	.stockist {
		width: 100%;
		margin-bottom: 24px;
	}

	.stockists-holder {
		margin-bottom: auto;
	}
}