.projects .item {
	margin-bottom: 0;	
}

.projects .item-1,
.projects .item-3,
.projects .item-5 {
	float: left;
	width: 50%;
}

body.projects .item-2 {
	height: 607px;
}

.projects .item-3 {
	margin-top: -206px;
}

.projects .item-4 {
	@include span-columns(6 of 12);
    height: 827px;
    @include omega();
}

.projects .item-5 {
	margin-top: -625px;
}

.projectitem aside h2 {
	border-top: 0;
	padding-top: 0;
}

.projects h2 {
	border-top: 0;
	border-bottom: 1px solid $borderColor;
	padding-bottom: 20px;
}

.projectitem .topback {
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-top: 8px;
}

.projectitem #my-carousel {
	position: static;
	border: 0;
}

#projectnav {
	height: 2em;
	margin-top: 1em;
}

#projectnav p {
	height: 1em;
}

#prev {
	text-align: left;
}

#back {
	text-align: center;
}

#next {
	text-align: right;
}

.content-b hr {
	width: 150px;
	margin: 16px auto;
	border: 0;
	background-color: #fff;
	height: 1px;
}

.tc {
	color: #fff;
}

a:hover .tc span,
.tc span {
	color: #f90;
}

.tc hr {
	width: 150px;
	margin: 16px auto;
}

.collections footer,
.projects footer {
	margin-top: 22px;
}

@include media($desktop) {

	.proj-name {
		display: none;
	}

	section.projects > h2 {
		display: none;
	}

	.projects .item-1 .not-fullscreen {
		height: 379px;
	}

	.projects .item-2 .not-fullscreen {
		height: 582px;
	}

	.projects .item-3 .not-fullscreen {
		height: 379px;
	}

	.projects .item-4 .not-fullscreen {
		height: 802px;
	}

	.projects .item-5 .not-fullscreen {
		height: 379px;
	}

	.projects .item:hover .proj-name {
		color: #f60;
	}
}

@include media($mobile) {

	.projectitem .indicator {
		position: static;
		padding: 15px 0 5px 0;
	}

	.projectitem #my-carousel {
		position: relative;
	}

	.proj-name {
		float: left;
		text-align: center;
		clear: left;
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid $borderColor;
	}

	body.projects .item {
		height: 262px !important;
	}

	body.projects .item .content-a {
		display: none;
	}

	body.projects .not-fullscreen {
		height: 225px;
	}

	.projects .item a {
		width: 100%;
		height: 100%;
	}
}

@include media($tablet) {

	.projectitem .indicator {
		position: static;
		padding: 15px 0 5px 0;
	}

	.projectitem #my-carousel {
		position: relative;
	}

	.proj-name {
		float: left;
		text-align: center;
		clear: left;
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid $borderColor;
		margin-bottom: 10px;
	}
}