.projects .item-1,
.projects .item-3,
.projects .item-5 {
	@include span-columns(6);
	height: 267px;
	margin-bottom: 15px;
}

.projects .item-4 {
	@include span-columns(6 of 12);
    height: 627px;
    @include omega();
}

.projects .item-5 {
	margin-top: -525px;
}

.projectitem aside h2 {
	border-top: 0;
	padding-top: 0;
}

.projectitem article img {
	margin-bottom: 15px;
}