.projects .item-1,
.projects .item-3,
.projects .item-5 {
	@include span-columns(6);
	height: 404px;
	margin-bottom: 15px;
}

body.projects .item-2 {
	height: 607px;
}

.projects .item-3 {
	margin-top: -204px;
}

section.projects > h2 {
	display: none;
}

.projects .item-4 {
	@include span-columns(6 of 12);
    height: 827px;
    @include omega();
}

.projects .item-5 {
	margin-top: -625px;
}

.projectitem aside h2 {
	border-top: 0;
	padding-top: 0;
}

@include media($mobile) {
	.projectitem aside h2 {
		padding-top: 8px;
	}
}

.projects h2 {
	border-top: 0;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.projectitem .topback {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
	padding-top: 4px;
	font-size: 1em;
	margin-top: 8px;
}

.projectitem aside p {
	font-size: 1.3em;
}

.projectitem #my-carousel {
	background: #eee;
	position: static;
	border: 0;
}

.proj-name {
	font-size: 0.8em;
	border-bottom: 1px solid #eee;
	text-align: center;
	padding-top: 8px;
	color: #999;
	padding-bottom: 3px;
}

@include media($desktop) {
	.projects .item-1 .not-fullscreen {
		height: 379px;
	}

	.projects .item-2 .not-fullscreen {
		height: 582px;
	}

	.projects .item-3 .not-fullscreen {
		height: 379px;
	}

	.projects .item-4 .not-fullscreen {
		height: 802px;
	}

	.projects .item-5 .not-fullscreen {
		height: 379px;
	}

	.projects .item {
		margin-bottom: 10px;
	}
}

@include media($mobile) {

	.projectitem .indicator {
		position: static;
		padding: 15px 0 5px 0;
	}

	.projectitem .bottomback {
		margin-top: 8px;
	}

	.projectitem #my-carousel {
		position: relative;
	}

	.proj-name {
		float: left;
		text-align: center;
		clear: left;
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		font-family: 'DIN Next Pro Regular';
	}
}

@include media($tablet) {

	.projectitem .indicator {
		position: static;
		padding: 15px 0 5px 0;
	}

	.projectitem .bottomback {
		margin-top: 8px;
	}

	.projectitem #my-carousel {
		position: relative;
	}

	.proj-name {
		float: left;
		text-align: center;
		clear: left;
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		font-family: 'DIN Next Pro Regular';
	}
}