.shop header nav {
	margin: 0;
	border: 0;
}

.shop aside h2,
.category-nav {
	margin-left: 10px;
}

.shop aside,
.shop article {
	padding-top: 20px;
}

.shoppage footer {
	margin-top: 0;
}

.shop,
.shoppage footer {
	background: #dedede;
}